body {
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
}

p {
    text-transform: uppercase;
    padding: 0.3em;
}

#first-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

#first-screen img {
    object-fit: cover;
}

#first-screen .first-screen-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#second-screen {
    z-index: 1;
    display: none;
}

.running-squirrel-gif {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.help-the-squirrel {
    text-align: center;
    text-transform: uppercase;
    text-shadow: white 2px 2px;
    color: rgb(222, 120, 57);
    font-size: 2em;
    padding: 2rem 5rem;
}

.introduction-history {
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    background-color: #ada62099;
    padding: 2rem;
    border-radius: 15px;
    line-height: 1.7em;
}

#start-button {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', sans-serif;
    background-color: #fff2004a;
    width: 10rem;
    height: 5rem;
    border-radius: 15px;
    border-color: #fff2004a;
}

#start-button:hover {
    background-color: #c4be504a;
}

#second-screen {
    color: rgb(222, 120, 57);
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lets-go-title {
    top: 50%;
    position: absolute;
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#lets-go {
    text-transform: uppercase;
    text-shadow: white 2px 2px;
    color: rgb(222, 120, 57);
    position: absolute;
    font-size: 4em;
}

.second-screen-background {
    width: auto;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
}

#game-container {
    height: 100vh;
    position: relative;
}

#player-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#player img {
    height: 100%;
}

#player {
    display: flex;
    justify-content: center;
    height: 5em;
    position: absolute;
    bottom: 0;
}

.player-collision {
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 80%;
}

.container-counters {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    line-height: 1.7em;
    top: 0;
    position: absolute;
    width: 100%;
    font-size: 2em;
    color: rgb(228, 203, 185);
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.falling-nut {
    position: absolute;
    width: 4em;
    height: 5em;
    background-size: contain;
    background-repeat: no-repeat;
}

.bad-nut {
    background-image: url('images/rotten\ nut.png');
}

.good-nut {
    background-image: url('images/good\ nut.png');
}

.end-game-wrapper {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#restart-button {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', sans-serif;
    background-color: #fff2004a;
    width: 20rem;
    height: 5rem;
    border-radius: 15px;
    border-color: #fff2004a;
    margin-bottom: 1em;
}

.main-menu-button {
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Gill Sans', sans-serif;
    background-color: #fff2004a;
    width: 10rem;
    height: 5rem;
    border-radius: 15px;
    border-color: #fff2004a;
}

.won-lose-text {
    text-transform: uppercase;
    text-shadow: white 2px 2px;
    font-size: 2em;
    margin-bottom: 2em;
}

@media screen and (min-width: 724px) {
    #start-button {
        width: 30rem;
        height: 7rem;
    }

    #start-button:hover {
        background-color: #c4be504a;
    }

    .help-the-squirrel {
        font-size: 3em;
    }

    #second-screen {
        color: rgb(222, 120, 57);
        width: 100%;
        display: none;
    }

    #lets-go {
        font-size: 5em;
    }

    .second-screen-background {
        width: 100%;
    }

    #player {
        width: 10em;
        height: 10em;
    }

    .player-collision {
        width: 90%;
    }

    .container-counters {
        padding: 2rem;
        font-size: 3em;
    }

    .falling-nut {
        width: 6em;
        height: 6em;
    }

    .won-lose-text {
        font-size: 3em;
        color: rgb(123, 51, 7);
    }
}
